@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@500&display=swap');
@import "tailwindcss";

@theme {
  /* Tells Tailwind to use these fonts when you use 'font-sans' or 'font-mono' */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-mono: "JetBrains Mono", monospace;
  --appearance-strategy: selector;
}

html {
  scroll-behavior: smooth;
}